@use "layout";

@use "sass:map";
@use "sass:list";

// Zusammenlegen aller Meda Queries in eine
// https://www.sitepoint.com/sass-mixin-media-merging

@mixin mediaquery($mediaquery) {
    // Hole die map $mediaquery aus der map $mediaqueries
    $queries: map.get(layout.$mediaqueries, $mediaquery);

    // Wenn es keine $mediaquery in der map gibt, gebe einen Fehler aus
    @if not $queries {
        @error "No value could be retrieved from `#{$mediaquery}`. "
        +"Please make sure it is defined in `$mediaqueries` map.";
    }

    // Include the media mixin with $queries
    // Für implizite breakpoints funktionieren die Funktionen wie size() nicht, daher müssen sie hier gesetzt werden
    @include media($queries) {
        $_layout-alias: (
            tabletFrom: tablet,
            tabletTo: tablet,
            tabletPortrait: tablet,
            tabletPortraitFrom: tablet,
            tabletLandscape: tablet,
            tabletLandscapeFrom: tablet,
            desktopFrom: desktop,
            desktopTo: desktop,
            bigFrom: big,
        );
        $layout: $mediaquery;
        @if map.has-key($_layout-alias, $mediaquery) {
                $layout: map.get($_layout-alias, $mediaquery);
            }
        @content($layout);
    }
}

@mixin media($queries) {

    // Erst wenn alle mediaqueries geschachtelt geschrieben sind,
    // wird der @content ausgegeben
    @if list.length($queries)==0 {
        @content;
    }

    @else {
        $first-key: list.nth(map.keys($queries), 1);

        // Schreibt nur die mediaquery, nicht den Inhalt
        @media ($first-key: map.get($queries, $first-key)) {
            $queries: map.remove($queries, $first-key);

            @include media($queries) {
                @content;
            }
        }
    }
}